@font-face {
    font-family: google-sans-regular;
    src: url('../../../fonts/GoogleSans-Regular-v1.27.ttf');
}

.button{
    display: flex;
    font-family: 'google-sans-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    width: 137px;
    height: 48px;
    background-color: #D24336;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
}

@media (max-width: 900px) {
    .button {
        display: none;
    }
}