* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    display: flex;
    justify-content: space-between;
}

.container h1 {
    margin: 20px 0 0 120px;
    color: #109756;
    font-weight: 700;
    font-size: 39px;
}

.left-top {
    display: flex;
    justify-content: space-around;
}

.left-top img {
    object-fit: scale-down;
    margin-top: 60px;
    margin-right: 10px;
}

.left-top p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 65px;
    color: #4180EA;
    width: 40rem;
}

.left-top p span {
    color: #D24336;
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.right-down {
    margin-top: 10vh;
}

.right-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-top img:nth-child(1) {
    object-fit: scale-down;
    margin-top: 30px;
}

.right-top img:nth-child(2) {
    object-fit: scale-down;
    margin-top: -25px;
}

.right-down h2 {
    color: #109756;
    margin-bottom: 10px;
}

.right-down h2 span {
    color: #D24336;
}

.right-down p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #4180EA;
}

.right-down p span {
    color: #D24336;
}

.left-bottom img {
    object-fit: scale-down;
    margin-top: 10vh;
}

.aboutUsText {
    margin-left: 20px;
    margin-top: 20px;
    color: #109756;
    font-weight: 700;
    font-size: 48px;
}

.left-section {
    margin-top: 80px;
}


.about {
    display: flex;
    justify-content: space-between;
}

.container h1 {
    margin: 20px 0 0 120px;
    color: #109756;
    font-weight: 700;
    font-size: 39px;
}

.left-top {
    display: flex;
    justify-content: space-around;
}

.left-top img {
    object-fit: scale-down;
    margin-top: 60px;
    margin-right: 10px;
}

.left-top p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 65px;
    color: #4180EA;
    width: 40rem;
}

.left-top p span {
    color: #D24336;
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-top: 63px;
    margin-left: 0px;
}

.right-down {
    margin-top: 10vh;
}

.right-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-top img:nth-child(1) {
    object-fit: scale-down;
    margin-top: 30px;
}

.right-top img:nth-child(2) {
    object-fit: scale-down;
    margin-top: -25px;
}

.right-down h2 {
    color: #109756;
    margin-bottom: 10px;
}

.right-down h2 span {
    color: #D24336;
}

.right-down p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #4180EA;
}

.right-down p span {
    color: #D24336;
}

.left-bottom img {
    object-fit: scale-down;
    margin-top: 10vh;
}

.aboutUsText {
    margin-left: 20px;
    margin-top: 20px;
    color: #109756;
    font-weight: 700;
    font-size: 48px;
}

.left-section {
    margin-top: 80px;
}

@media screen and (max-width:1024px) {
    .aboutUsText p {
        font-size: 32px;
    }

    .about {
        flex-direction: row;
    }

    .left-top img {
        width: 48px;
        height: 48px;
        margin-left: 2px;
        margin-top: 90px;
    }

    .left-top p {
        font-size: 12px;
    }

    .left-bottom img {
        width: 264px;
        height: 185px;
        margin-top: 0;
        margin-left: 6rem;
    }

    .right-top img:nth-child(1) {
        margin-left: 0rem;
        width: 265px;
        height: 185px;
    }

    .right-top img:nth-child(2) {
        width: 165px;
        height: 25px;
        margin-top: -48px;
        margin-left: 3.1rem;
    }

    .right-down {
        margin: 2vh;
    }

    .right-down h2 {
        font-size: 18px;
    }

    .right-down p {
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:769px) {
    .sideBarAbout {
        display: none;
    }

    .aboutUsText p {
        font-size: 32px;
    }

    .left-section {
        margin-top: -28px;
    }

    .about {
        flex-direction: column;
    }

    .left-top img {
        width: 96px;
        height: 96px;
        margin-left: 2px;
        margin-top: 68px;
    }

    .left-top p {
        font-size: 14px;
    }

    .left-bottom img {
        width: 310px;
        height: 237px;
        margin-top: 0;
        margin-left: 7rem;
    }

    .right-section {
        margin-top: 0;
    }

    .right-top img:nth-child(1) {
        margin-left: 10rem;
        width: 265px;
        height: 185px;
    }

    .right-top img:nth-child(2) {
        width: 165px;
        height: 25px;
        margin-top: -48px;
        margin-left: 13.1rem;
    }

    .right-down {
        margin-left: 6vh;
    }

    .right-down h2 {
        font-size: 18px;
    }

    .right-down p {
        font-size: 14px;
        line-height: 26px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:430px) {
    .aboutUsText p {
        font-size: 32px;
    }

    .left-section {
        margin-top: -28px;
    }

    .about {
        flex-direction: column;
    }

    .left-top img {
        width: 40px;
        height: 40px;
        margin-left: 1px;
        margin-top: 90px;
    }

    .left-top p {
        font-size: 12px;
    }

    .left-bottom img {
        width: 264px;
        height: 185px;
        margin-top: 0;
        margin-left: 3rem;
    }

    .right-section {
        margin-top: 0;
    }

    .right-top img:nth-child(1) {
        margin-left: 4rem;
        width: 240px;
        height: 185px;
    }

    .right-top img:nth-child(2) {
        width: 165px;
        height: 25px;
        margin-top: -48px;
        margin-left: 6.5rem;
    }

    .right-down {
        margin-left: 3vh;
    }

    .right-down h2 {
        font-size: 16px;
    }

    .right-down p {
        font-size: 14px;
        line-height: 21px;
    }
}
