.card-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:20px;
    justify-content: space-around;
    align-items: center;
    padding-top: 90px;
padding-bottom: 30px;

}
@media (max-width:1080px) {
    .card-wrapper{
    grid-template-columns: auto auto ;
    padding-top: 90px;
    }
}
@media (max-width:784px) {
    .card-wrapper{
    grid-template-columns: auto;
    padding-top: 90px;
    }
}
@media (max-width:486px){
    .card-wrapper{
        padding-bottom: 15px;
    }
}