.regions-section {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
.upper-section {
  height: 100%;
  display: flex;
}
.regionswrapper {
  width: 100%;
  position: relative;
  background-image: url(../../../svgs/Road.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calicut {
  position: absolute;
  position: absolute;
  right: 50%;
  top: 50%;
}

.Trivandrum {
  position: absolute;
  position: absolute;
  right: 20%;
  top: 35%;
}

.Kochi {
  position: absolute;
  right: 10%;
  top: 10%;
}

.RegionsText {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  margin-top: 2rem;
  margin-left: 2rem;
  color: #109756;
}
