.side-bar{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
height: 80px;

color: #000000;



}

.down-arrow{
    transform: rotate(90deg);
    margin:12px 9px;
    height: 24px;
    width: 10px;
    
}
.scroll-down{

}