@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    /* width: 100vw; */
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    background: #FDFAE5;
}

ul {
    display: flex;
    gap: 28px;
    list-style-type: none;
}

.nav-links {
    display: flex;
}

.nav-links li {
    padding: 0 1rem;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #565656;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    margin-left: 1rem;
}



.btn {
    /* We can add the spin effect later-using default react-app */
    margin-right: 130px;
}




.navbar li a:hover,
.navbar li a.active {
    color: rgb(0, 0, 0);
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width:780px) {

    .yellow-hamburger {
        display: none;
    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
        background-color: #FFFFFF;
    }

    .nav-links-mobile li {
        display: flex;
    }

    .nav-links-mobile li a {
        text-align: center;
        width: 100%;
        padding: 32px;
        transition: all 0.5s ease;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #565656;
    }

    .nav-links {
        display: none;
    }

    .logo {
        margin-left: 2rem;
        width: 6rem;
    }

    .navbar {
        justify-content: space-between;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: black;
        background-color: transparent;
        border: none;
        outline: none;
        top: 25px;
        right: 25px;
    }
}