/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.textBox {
    /* position: relative; */
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-image: url(../attributes/aboutTextBox.svg); */
    height: 100vh;
}

.AboutUs {
    position: absolute;
    width: 146px;
    height: 44px;
    left: 290px;
    top: 1500px;

    font-family: 'Open Sans', sans-serif;
    /* font-weight: 600; */
    /* font-size: 40px; */
    /* line-height: 44px; */
    /* identical to box height */

    letter-spacing: 0.8rem
}

.actualText {
    position: absolute;
    width: 730px;
    height: 413px;
    left: 10rem;
    top: 100rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: #242424;
}

.Paragraph {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}

.aboutIllustrations {
    position: absolute;
    width: 316px;
    height: 372.39px;
    left: 75rem;
    top: 95rem;
}