.button{
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    width: 223px;
    height: 48px;
    background-color: #4180EA;
    align-items: center;
    position: relative;
    border-radius: 24px;
    justify-content: center;  
    flex-shrink: 0;  
}

.arrow{
    position: absolute;

    right: 0;
    margin: 0 6px 0 17px;
    
    
}