/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.toCenter {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #4180EA;
    font-family: 'Roboto';
    letter-spacing: 0.06em;
}

.brightColors {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background: linear-gradient(90deg, #4180EA 0%, #D24336 40.8%, #EAAD02 76.2%, #109756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.06em;
    line-height: 54px;
}

.kerala {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background: linear-gradient(90deg, #4180EA 0%, #D24336 40.8%, #EAAD02 76.2%, #109756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-family: 'Roboto';

    font-size: 40px;
    letter-spacing: 0.06em;
    line-height: 54px;
}

.centerGraphics {
    display: flex;
    justify-content: space-between;
}

/* .leftGraphics {
    display: flex;
    justify-content: flex-start;
} */

/* .rightGraphics {
    display: flex;
    justify-content: flex-end;
} */

.btnHero {
    margin-top: 160px;
    margin-right: 140px;
}

.bottomIllustrations {
    display: flex;
    flex-direction: column;
}