.footerwrapper {
  height: 300px;
  min-height: 400px;
}
.footer {
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  -webkit-clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #797979;
  gap: 10px;
}
/* socialcontainer */
.socialcontainerwrapper {
  display: flex;
  gap: 10px;
}
.socialcontainerwrapper > a {
  text-decoration: none;
  color: #797979;
}
